
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
background-color:#fff;	
margin:0;
font-family: open sans;
text-align: justify;
}

/*Header*/

.header {
    padding: 0px;
    background: #282828;
	display: inline;
	text-align: center;
}


h1{
	font-size:60px;
	color:#DAA520;
}



/*Header*/


/* Navigation Bar*/
ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #DAA520;
}



.navbar{
	background-color: #282828;
	overflow:hidden;
	
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%

}

/* Navigation Bar*/

.card {
	float: left;
    width: 50%;
	height:50%;
}

.logo{
	
	width: 40px;
	height: 40px;
	margin-bottom: 8px;
	/*padding: 0px 0px 8px 0px;*/
}

.cardparent{
	
	background-color: #282828;
	margin-top:25px;
	width: 100%;
	height:100%;
	z-index:-5;
	float:left;
}

.nonavbar{
	position:relative;
	top:66px;
	
	
}

img{
width:100%;
	
	
}

.cardtext{
	padding:50px;
	color: #fff;
	
	
}

.button{
	text-decoration:none;
	width: 300px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size: 100%;
	background: #017ABF;
	color: #fff;
	/*border: 1px solid #3366cc;*/
	border-radius: 10px;
	
}

.bigbutton{
	text-decoration:none;
	width: 300px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
	background: #017ABF;
	color: #fff;
	/*border: 1px solid #3366cc;*/
	border-radius: 10px;
	
}

.button:hover{
	color: #ffff00;
	background: #DAA520;
	/*border: 1px solid #fff;*/
}

.bigbutton:hover{
	color: #ffff00;
	background: #DAA520;
	/*border: 1px solid #fff;*/
	
}

.anchor{
	float:left;
	
}