

body{
background-color:#fff;	
margin:0;
	
}

/*Header*/

.header {
    padding: 0px;
    text-align: center;
    background-color: #333;
	display:inline;
	
}

h1{
	font-size:60px;
	color:#DAA520;
}



/*Header*/


/* Navigation Bar*/
ul {
    list-style-type: none;
   
    background:#333;
	
	
	
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #666;
}

.navbar{
	background-color: #333;
	overflow:hidden;
	
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%
	
}

/* Navigation Bar*/

.card {
    background-color: #000;

    margin-bottom: 15px;
	
	
	float: left;
    width: 100%;
}

.cardtext{
	padding:20px;
	color: #fff;
	
}