

body{
background-color:#fff;	
margin:0;
	
}

/*Header*/

.header {
    padding: 0px;
    text-align: center;
    background-color: #333;
	border-bottom: 5px solid #000;
	
	position:fixed;
	top:0px;
	width:100%;
}

h1{
	size:60px;
	color:#DAA520;
}



/*Header*/


/* Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
	
	position: fixed;
    top: 85px;
    width: 100%;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #666;
}

/* Navigation Bar*/

.card {
    background-color: #666;

    margin-top: 20px;
	
	
	float: left;
    width: 100%;
}

.cardtext{
	padding:20px;
	
}