body{
	background-color:#A5B0C4;
	font-family:Segoe UI,Helvetica;
	font-size:150%;
	
	
}

.menu{
	border:1000px #1E3B6D;
	margin:auto;
	text-align:center;
	
}


p{
max-width:645px;

}


ul{
	list-style:none;
	padding-left:0;
	
	
}

li{
	display:inline;
	
}


li a {
	color: #FFF;
	background-color:#4686BE;
	padding: 8px 21px;
	text-decoration: none;
	border:solid 10px #1E3B6D;

}

li a:hover{
	color: #000;
	background-color:#FFF;
}

.top{
	background-color:#4686BE;
	margin:auto;
	min-width:2000;

}

.button{

	color: #FFF;
	background-color:#4686BE;
	padding: 8px 20px;
	text-decoration: none;
	border:solid 10px #1E3B6D;
}

.button:hover{
color: #000;
	background-color:#FFF;


}

article{
	background-color:#9ED2FF;
	max-width:2000px;
	min-height:450px;
	margin:auto;
}